html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#frame {
  position: absolute;
  width: 75px;
  height: 75px;
  overflow: hidden;

  border-radius: 50%;
  will-change: transform;
  transform: translate(32px, 32px);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

#frame img {
  position: absolute;
  height: auto;
  transform: translate(-32px, -32px);
  will-change: transform;
}

@media (orientation: landscape) {
  #frame img {
    width: 100vmax;
  }
}

@media (orientation: portrait) {
  #frame img {
    width: 100vmin;
  }
}
